@charset "utf-8"; 

/** 폰트 **/
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

/** Noto Sans **/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/** Prosto One **/
@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');

/** Montserrat **/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Pretendard */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

/** Poppins  **/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Zalando */
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

/* Zalando */
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Philosopher */
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Miriam Libre */
@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400..700&display=swap');

/* Michroma */
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

/** 사이트 변수, 리셋 **/
@import url('foundation/variables.css');
@import url('foundation/reset.css');



/** 노스보드 공통 **/
@import url('../../common/css/common.css'); /**팝업,404등 공통 CSS**/
@import url('../../common/css/board.css');  /**게시판 CSS**/
@import url('../../common/css/member.css');  /**멤퍼 CSS**/
@import url('../../common/css/sub.css');  /**서브공통 CSS**/



/** 홈페이지의 레이아웃 **/
@import url('layout/layout.css');
@import url('layout/header.css');
@import url('layout/footer.css');


/** 라이브러리 **/
@import url('libs/jquery.ui.css');
@import url('libs/swiper-bundle.css');
@import url('libs/aos.css');







