html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } 

table, caption, tbody, tfoot, thead, tr, th, td{vertical-align: middle;}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; } 
body { line-height: 1; } 
ol, ul { list-style: none; } 
blockquote, q { quotes: none; } 
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; } 
table { border-collapse: collapse; border-spacing: 0; } 
html,body { font-family:var(--defaultFont); font-size:var(--defaultTextSize); color:var(--defaultTextColor); letter-spacing:-0.025em;} 
*,
*::before,
*::after { box-sizing: border-box; } 
a { color:inherit; text-decoration: none; } 
button { cursor: pointer; border:0 none; background-color: transparent; color:inherit; } 
input,label, button,textarea,select { font-family:var(--defaultFont); font-size:1rem; border-radius: 0;} 
.hide { overflow: hidden; display: block; position: absolute; border: 0; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px); } 

@media screen and (max-width:1024px) { 
 html,body { font-size:var(--padFontSize); } 
 } 
@media screen and (max-width:640px) { 
 html,body { font-size:var(--mobileFontSize); } 
 } 


.material-symbols-outlined.filled {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}



.m_show{display: none;}

@media screen and (max-width:640px){
  .m_show{display: block;}
  .m_hide{display: none;}
}