:root { 
 --primary : #EC6215; 


 --primary-light : #D8D3DD; 
 --primary-dark : #112346; 

 --secondary : #2D8ACD; 
 
 --title-color:#171717; 
 
 --txt-color : #5E5E5E; 

 --gray-0 : #ffffff; 
 --gray-50 : #F8F8F8; 
 --gray-100 : #E5E5E5; 
 --gray-150 : #D9D9D9; 
 --gray-200 : #CCCCCC; 
 --gray-250 : #BFBFBF; 
 --gray-300 : #B2B2B2; 
 --gray-350 : #A6A6A6; 
 --gray-400 : #999999; 
 --gray-450 : #8C8C8C; 
 --gray-500 : #808080; 
 --gray-550 : #737373; 
 --gray-600 : #666666; 
 --gray-650 : #595959; 
 --gray-700 : #4D4D4D; 
 --gray-750 : #404040; 
 --gray-800 : #333333; 
 --gray-850 : #262626; 
 --gray-900 : #1A1A1A; 
 --gray-950 : #0D0D0D; 
 --gray-000 : #000000; 


 --border-gray : #EDEDED; 
  --defaultTextColor: #000000; 

 /** WIDTH **/
 --inner : 1600px; 
 --memberInner: 1000px; 
 
  /** FONT FAMILY**/
 --defaultFont: 'Pretendard','Noto Sans KR', '맑은 고딕',sans-serif; 
 --montserrat : "Montserrat", sans-serif;
 --prostoOne :'Prosto One', cursive;
  
 /** FONT SIZE **/
 --defaultTextSize : 16px; 
 --padFontSize : 15px; 
 --mobileFontSize : 14px; 
 

  
 /** TRANSITION **/
 --transition: all 0.2s; 

  /** SHADOW **/
 --shadow-sm : 0 1px 2px 0 rgb(0 0 0 / 0.05); 
 --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1); 
 --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); 
 --shadow-lg : 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); 
 --shadow-xl : 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1); 
 --shadow-2xl : 0 25px 50px -12px rgb(0 0 0 / 0.25); 
 --shadow-inner : inset 0 2px 4px 0 rgb(0 0 0 / 0.05); 
 --shadow-none : 0 0 #0000; 
 } 

 .inner{max-width:1420px;width: calc(100% - 60px);margin: auto;}